<meta http-equiv="refresh" content="1">

<div class="box notice"><i class="ico-notice"></i>
  <%= t('.notice') %>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    buttons: {}
  });
<% end %>
